body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#020202;
	background-image:url(../images/bg_body.jpg);
	background-position:left top;
	background-repeat:repeat;
}

#center {
	width:975px;
	margin:0 auto;
	padding:0;
}

.clr {
	clear:both;
}

form,input,img,table,td {
	padding:0;
	margin:0;
	border:none;
}

a {
	color:#110773;
	text-decoration:none;
}

a:hover {
	color:#900606;
}

p,h1,h2,h3,h4,h5,h6 {
	padding:0;
	margin:0;
}

p {
	padding-bottom:18px;
	font-weight:bold;
}

h1 {
	padding-bottom:24px;
	color:#900606;
	font-size:30px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;
	font-weight:bold;
	text-align:center;
}

h2 {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:24px;
	color:#010101;	
}

h3 {
	color:#110773;
	font-size:26px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:32px;
}

h4 {
	color:#900606;
	font-size:40px;
	font-family:"Arial Black", Gadget, sans-serif;
	line-height:32px;
}

h5 {
	color:#000000;
	font-size:12px;
}

h6 {
	color:#666;
	font-size:12px;
}

#header {
	width:1000px;
	padding:0;
	margin:0;
	height:185px;
	float:left;
	background-image:url(../images/bg_header.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}

#main_bg {
	width:1000px;
	padding:0;
	margin:0;
	float:left;
	background-image:url(../images/bg_main.png);
	background-position:left top;
	background-repeat:repeat-y;
}

#main_content {
	width:940px;
	padding:0 30px 20px 30px;
	margin:0;
	float:left;
}

#property_left {
	width:377px;
	padding:0;
	margin:0;
	float:left;
}

#price_image {
	width:377px;
	padding:20px 0 0 0;
	margin:0;
	float:left;
	text-align:center;
}

#content {
	width:326px;
	padding:12px 40px 0 11px;
	margin:0;
	float:left;
}

#property_right {
	width:563px;
	padding:0;
	margin:0;
	float:left;
}

#property_address {
	width:563px;
	padding:24px 0 5px 0;
	margin:0;
	float:left
}

.bullet {
	margin:0 7px;
}

#gallery {
	width:563px;
	padding:0;
	margin:0;
	float:left;
}

#fadeshow1 {
	border:7px solid #000000;
}

#contact_info {
	width:940px;
	padding:12px 0 24px 0;
	margin:0;
	float:left;
	text-align:center;
}

#dot_link {
	width:289px;
	padding:0 39px 0 0;
	margin:0;
	float:left;
}

#google_map {
	width:612px;
	padding:0;
	margin:0;
	float:left;
}

#footer {
	width:1000px;
	padding:0;
	margin:0;
	height:42px;
	float:left;
	background-image:url(../images/bg_footer.png);
	background-position:left top;
	background-repeat:no-repeat;
}

#footer_text {
	width:940px;
	padding:12px 30px 0 30px;
	margin:0;
	float:left;
	text-align:center;
	color:#000000;
	font-size:10px;
	font-weight:bold;
}